#container-banner-inicial{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 0px 0,5%;
}
#banner-inicial{
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 94%;
    height: 500px;
    background-color: var(--cor-fundo);
    border-radius: var(--border-radius);
    background-color: var(--cor-fundo);
    background-image: url(../images/banner-inicial.png);
    background-size: cover;
    background-position: center 75%;
    background-repeat: no-repeat;
    padding: 30px 3%;

}
#titulo h1{
    font-size: 100px;
    color: aliceblue;
}
#paragrafo{
    display: flex;
    align-items: center;
}
#paragrafo p{
    width: 38%;
    color: aliceblue;
    font-weight: 400;
    font-size: 14px;
}
#paragrafo img{
   width: 60px;
   margin-right: 10px;
}
@media screen and (max-width: 959px){
    #titulo h1{
        font-size: 95px;
        
    }
}
@media screen and (max-width: 911px){
    #titulo h1{
        font-size: 90px;
        
    }
}
@media screen and (max-width: 863px){
    #titulo h1{
        font-size: 80px;
        
    }
}
@media screen and (max-width: 770px){
    #titulo h1{
        font-size: 70px;
        
    }
    #text p{
        font-size: 11.5px;
        
    }
    #icon img{
        width: 60px;
    }
    #banner-inicial{
        height: 450px;
    }
}
@media screen and (max-width: 676px){
    #titulo h1{
        font-size: 60px;
        
    }
    #text p{
        font-size: 11px;
        
    }
    #icon img{
        width: 55px;
    }
    #banner-inicial{
        height: 400px;
    }
}
@media screen and (max-width: 578px){
    #titulo h1{
        font-size: 50px;
        
    }
    #text p{
        font-size: 10px;
        
    }
    #icon img{
        width: 50px;
    }
    #paragrafo p{
        width: 50%;
    }
    #banner-inicial{
        height: 350px;
    }
}
@media screen and (max-width: 484px){
    #titulo h1{
        font-size: 40px;
        
    }
    #text p{
        font-size: 9.5px;
        
    }
    #icon img{
        width: 40px;
    }
    #banner-inicial{
        height: 330px;
    }
}
@media screen and (max-width: 392px){
    #titulo h1{
        font-size: 30px;
        
    }
    #text p{
        font-size: 9px;
        
    }
    #icon img{
        width: 30px;
    }
    #banner-inicial{
        height: 300px;
    }
     #paragrafo p{
        width: 70%;
    }
}
