#indique-e-ganhe {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 30px 3%;
}

#banner-indique{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    align-items: center;
    width: 100%;
    height: 500px;
    background-color: var(--cor-fundo);
    border-radius: var(--border-radius);
    background-image: url(../images/banner-indique3.1.png);
    background-size: cover;
    background-position:  center;
    background-repeat: no-repeat;
    padding: 30px 3%;

}
#indique-e-ganhe a{
    display: block;
    width: 100%;
}
#titulo-indique{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
#titulo-indique h2{
    font-size: 120px;
    color: aliceblue;
    font-weight: 500;
    text-align: center;
}
#titulo-indique p{
    color: rgb(230, 239, 248);
    font-weight: 500;
    font-size: 21px;
    text-align: center;
}

#button-indique a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 50px;
    background-color: aliceblue;
    color: #2bade9;
    font-size: 20px;
    font-weight: 500;
    border-radius: var(--border-radius);
    transition: 0.3s ;
}
#button-indique a:hover{
    background-color:transparent;
    outline: 1px solid rgb(255, 255, 255);
    color: aliceblue;
    
}
@media screen and (max-width: 1190px){
    #banner-indique{
        background-image: url(../images/banner-indique6.png);
        height: 450px;
    }
}
@media screen and (max-width: 670px){
    #banner-indique{
        background-image: url(../images/banner-indique7.png);
        height: 450px;
    }
}
@media screen and (max-width: 751px){
    #banner-indique{
        background-image: url(../images/banner-indique8.png);
        height: 450px;
        background-position: center 30%;
    }
}
@media screen and (max-width: 467px){
    #banner-indique{
        background-image: url(../images/banner-indique4.png);
        height: 450px;
    }
}
@media screen and (max-width: 382px){
    #banner-indique{
        height: 400px;
        background-image: url(../images/banner-indique5.png);
        
    }
}
@media screen and (max-width: 382px){
    #banner-indique{
        height: 400px;
        background-image: url(../images/banner-indique5.png);
        
    }
}