#sobre{
    display: flex;
    gap: 30px;
    padding: 40px 3%;
}
#conheca{
    padding:2% 2%;
    width: 50%;
    border-radius: var(--border-radius);
    background-color: var(--cor-fundo);
}
#container-titulo-sobre{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}
#container-titulo-sobre h2{
    font-size: 20px;
    color: var(--cor-texto1);
    font-weight: 500;
}
#logo-sobre img{
    width: 23px;
    transition: transform 0.2s ease;
}
#logo-sobre img:hover{
    transform: scale(1.08); 
}
#conteudo-sobre p{
    color: #444;
}
#responsavel{
    width: 50%;
    height: 100%;
    background-color: var(--cor-fundo);
    border-radius: var(--border-radius);

}
#container-responsavel{
    border-radius: var(--border-radius);
    background-color: var(--cor-primaria);

}
#container-conteudo{
    padding:4% 4%;
    height: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
#container-crea{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    background-color: var(--cor-fundo);
    padding:1% 2%;
    border-radius: 0px 0px var(--border-radius) var(--border-radius);
    font-size: 14px;
    color: #444;
}
#btn-responsavel{
    display: flex;
    justify-content: space-between;
    
}
#btn-responsavel a{
    background-color:rgb(240, 238, 238);
    color: var(--cor-texto1);
    padding: 13px 17%;
    border-radius: 15px;
    transition: transform 0.2s ease;
}
#btn-responsavel a:hover{
    transform: scale(1.03);
}
#titulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#titulo h2{
    font-size: 13px;
    color: rgb(208, 208, 208);
    font-weight: 300;
}
#perfil-responsavel{
    display: flex;
    align-items: center;
    gap: 20px;
}

#foto-perfil img{
    width: 100px;
    border-radius: 50%;
    transition: transform 0.2s ease;

}
#foto-perfil img:hover{
    transform: scale(1.02); 
}
#descricao{
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
#descricao h3{
    font-size: 16px;
    font-weight: 300;
    color: white;
}
#descricao p{
    font-size: 13px;
    font-weight: 300;
    color: rgb(208, 208, 208);
}


@media screen and (max-width:1500px){
    
    #btn-responsavel a{
        padding: 13px 16%;
    }
}
@media screen and (max-width:1286px){
   
    #conteudo-sobre p{
        font-size: 14px;
    }
    #btn-responsavel a{
        padding: 13px 15%;
    }
}
@media screen and (max-width:1159px){
    #conteudo-sobre p{
        font-size: 13px;
    }
    #btn-responsavel a{
        padding: 13px 14%;
    }
}
@media screen and (max-width:1090px){
    
    #conteudo-sobre p{
        font-size: 12px;
    }
    #btn-responsavel a{
        padding: 13px 14%;
    }
}
@media screen and (max-width:1012px){
    
  
    #btn-responsavel a{
        padding: 13px 13%;
    }
}
@media screen and (max-width:984px){
    
    #conteudo-sobre p{
        font-size: 16px;
    }
    #sobre{
        flex-direction: column;
    }
    #conheca{
        width: 100%;
        padding: 4% 2%;
    }
    #responsavel{
        width: 100%;
    }
    #btn-responsavel a{
        padding: 13px 18%;
    }
}
@media screen and (max-width:850px){
    #sobre{
        flex-direction: column;
    }
    #conheca{
        width: 100%;
        padding: 4% 2%;
    }
    #btn-responsavel a{
        padding: 13px 17%;
    }
}
@media screen and (max-width:703px){
     #btn-responsavel a{
        padding: 13px 16%;
    }
    
}
@media screen and (max-width:660px){
   
    #conteudo-sobre p{
        font-size: 15px;
    }
    #btn-responsavel a{
        padding: 13px 15%;
    }
}
@media screen and (max-width:585px){
    
    #conteudo-sobre p{
        font-size: 15px;
    }
    
}
@media screen and (max-width:545px){
    
    #conteudo-sobre p{
        font-size: 14px;
    }
    #btn-responsavel a{
        padding: 13px 14%;
    }
}
@media screen and (max-width:507px){
    
    #conteudo-sobre p{
        font-size: 14px;
    }
    #btn-responsavel a{
        padding: 13px 13%;
    }
}
@media screen and (max-width:467px){
    
    #conteudo-sobre p{
        font-size: 13px;
    }
    #btn-responsavel a{
        padding: 13px 12%;
    }
}
@media screen and (max-width:426px){
    
    #conteudo-sobre p{
        font-size: 13px;
    }
    #btn-responsavel a{
        padding: 13px 11%;
    }
}
@media screen and (max-width:398px){
    
    #conteudo-sobre p{
        font-size: 13px;
    }
    #btn-responsavel a{
        padding: 13px 10%;
    }
    
}
@media screen and (max-width:365px){
    
    #conteudo-sobre p{
        font-size: 13px;
    }
    #btn-responsavel a{
        padding: 11px 9%;
    }
}
@media screen and (max-width:350px){
    
    #conteudo-sobre p{
        font-size: 13px;
    }
    #btn-responsavel a{
        padding: 11px 8%;
    }
}
@media screen and (max-width:330px){
    
    #conteudo-sobre p{
        font-size: 13px;
    }
    #btn-responsavel {
        flex-direction: column;
        gap: 10px;
    }
    #btn-responsavel a{
        text-align: center;
        background-color: rgb(228, 226, 226);
    }
    #btn-responsavel a:last-child{
        margin-bottom: 10px;
    }
}
@media screen and (max-width:317px){
    
    #conteudo-sobre p{
        font-size: 13px;
    }
    #descricao h3{
        font-size: 13px;
        font-weight: 300;
        color: white;
    }
    
    #descricao p{
        font-size: 10px;
        font-weight: 300;
        color: rgb(208, 208, 208);
    }#btn-responsavel a{
        font-size: 13px;
    }
}