
*{
   font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
:root {
  --cor-texto1: #141414;
  --cor-fundo: #f6f6f6;
  --cor-primaria: #080278;
  --border-radius:20px;
  
}
body{
  background-color: white;
}
a, button, [role="button"] {
    -webkit-tap-highlight-color: transparent;
}
